<html>

<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- <link type="text/plain" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My First Django App</title>
</head>

<body class="container" background="http://orig14.deviantart.net/6ac8/f/2014/310/a/3/red_dwarf_dreams__4___hazy_skies_by_nirklars-d85hdx9.jpg">
    <div class="row col s6">
        <nav>
            <div class="nav-wrapper blue-grey darken-3">
                <a href="#" class="brand-logo center">Register</a>
            </div>
        </nav>
        <div class="z-depth-1">
            <div class="row">
                <form class="col s10 push-s1" method="POST" action={% url 'register' %}>
                    {% csrf_token %} {{ form.non_field_errors }}
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form.firstname.errors }}
                            <label for="{{ form.firstname.id_for_label }}">First Name</label>
                            {{ form.first_name }}
                        </div>
                        <div class="input-field col s6">
                            {{ form.lastname.errors }}
                            <label for="{{ form.lastname.id_for_label }}">Last Name</label>
                            {{ form.last_name }}
                        </div>
                        <div class="input-field col s12">
                            {{ form.password.errors }}
                            <label for="{{ form.password.id_for_label }}">Password</label>
                            {{ form.password}}
                        </div>
                        <div class="input-field col s12">
                            {{ form.email.errors }}
                            <label for="{{ form.email.id_for_label }}">Email</label>
                            {{ form.email}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="col s4 push-s4">
                                <button class="waves-effect waves-light btn col s5" type="submit">Register</button>
                                <button class="waves-effect waves-light btn col s5 red push-s2" type="reset">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
